
.container-main-Carousel1 {
    margin: 25px;
    text-align: center;
    
}
.container-card-Carousel1 {
overflow: hidden;
}

.container-card-Carousel1 .imagen-Carousel1 {
    width: 60vw;
    height: 30vw;
    

    max-width: 930px;
  max-height: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    
}

.container-card-Carousel1 .text-Carousel1{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background: #007F86;
    padding: 10px;
    font-size: 21px;
    max-width: 930px;
  max-height: 450px;
    width: 60vw;
}

.titulo-main1{
    font-size: 36px;
    color: #111;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: bounce 1.5s infinite;
    text-align: center;
    }


    
@media screen and (max-width: 700px)  {

    .container-card-Carousel1 .text-Carousel1{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
        background: #007F86;
        padding: 6px;
        font-size: 18px;
        max-width: 1100px;
        max-height: 600px;
        width: 70vw;
    }
    
    
}

@media screen and (max-width: 500px)  {

    .container-card-Carousel1 .text-Carousel1{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
        background: #007F86;
        padding: 4px;
        font-size: 15px;
        max-width: 1100px;
        max-height: 600px;
        width: 70vw;
    }
    
    
}