.NavBar-menu{
    background-color:#007F86 ;
    text-align: center;
}

a .nav-link{
    text-align: center;

}

.offcanvas-header{
    background-color:#4aa8ad ;

}

.Header-global{
    padding-bottom: 43.4px;
}