.Label-notas{
  display: block;
    font-weight: bold;
    color: #007F86;
    margin-top: 10px;
}

.input-notas{
  width: 20vw;
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #007F86;
  border-radius: 5px;
}

.notas {
  text-align: center;
  padding: 20px;
  border: 2px solid #007F86;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 18px;
  max-width: 700px;
  width: 50%;
}

.main-notas{
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ADD8E6;
}

@media (max-width: 768px) {
  .notas {
      font-size: 16px;
  }

  .input-notas, .Button-notas {
      width: 100%;
      padding: 6px;
  }
}
 .Button-notas{
  display: block;
  text-align: center;
  background-color: #007F86;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 20px auto;
  border-radius: 5px;
}
.Button-notas:hover{
  background-color: #ADD8E6;
  text-decoration: none;
  color: #007F86;
}



.Button-notas{
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;


}

